<!DOCTYPE html>
<html>

<head>
  <title>Checker - GrandGrammar</title>
  <link type="text/css" rel="stylesheet" href="lib/materialize/materialize.min.css" />
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link type="text/css" rel="stylesheet" href="css/checker.css" />
  <link rel="icon" type="image/png" href="images/logo.png">
</head>

<body>
  <nav class="deep-purple lighten-5">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="images/logo_name.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="black-text">Home</a></li>
        <li class="active"><a href="#" class="black-text">Checker</a></li>
        <li><a href="/about" class="black-text">About</a></li>
      </ul>
    </div>
  </nav>

  <div id="vue-app" class="body">
    <div class="row">
      <div class="col s8">
        <div id="checker-input-block" class="card z-depth-3">
          <div class="card-content">
            <p v-show="edittingEssay" class="text-para">
              <textarea placeholder="Feed me with some sentences..." autofocus="true" v-model="inputEssay"></textarea>
            </p>
            <p v-show="!edittingEssay" id="error-text" class="text-para"></p>
          </div>
        </div>
        <div class="edit-btns">
          <a id="copy-btn" class="edit-btn btn-large btn-floating waves-effect waves-light deep-purple lighten-3"><i class="material-icons">content_copy</i></a>
          <a id="tag-btn" class="edit-btn btn-large btn-floating waves-effect waves-light deep-purple lighten-2"><i class="material-icons" @click="generateTopicTags">local_offer</i></a>
          <a id="edit-btn" class="edit-btn btn-large btn-floating waves-effect waves-light deep-purple lighten-1"><i class="material-icons" @click="editEssay">create</i></a>
          <a id="check-btn" class="btn-floating waves-effect waves-light deep-purple pulse"><i class="material-icons" @click="checkGrammar">spellcheck</i></a>
        </div>
        <div id="checker-output-block" class="card z-depth-3">
          <div class="card-content">
            <p v-show="!isCheckingGrammar" id="correct-text" class="text-para"></p>
            <div v-show="isCheckingGrammar" class="preloader-wrapper big active">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div id="topic-block" class="card z-depth-3">
          <div class="card-content">
            <span class="card-title deep-purple-text text-darken-1">You are talking about...</span>
            <div v-for="topic in topics" class="chip deep-purple lighten-4">{{ topic }}</div>
          </div>
        </div>
        <div id="dictionary-block" class="card z-depth-3">
          <div class="card-content">
            <span class="card-title deep-purple-text text-darken-1">Vocabulary Master</span>
            <div class="word-input-block">
              Search for:
              <div class="input-field inline">
                <input type="text" v-model="queryWord" @keyup.enter="searchWord">
              </div>
            </div>
            <div class="definition-part">
              <div v-show="nouDef.length > 0">
                <label>Noun</label>
                <ol>
                  <li v-for="def in nouDef">{{ def }}</li>
                </ol>
              </div>
              <div v-show="vrbDef.length > 0">
                <label>Verb</label>
                <ol>
                  <li v-for="def in vrbDef">{{ def }}</li>
                </ol>
              </div>
              <div v-show="adjDef.length > 0">
                <label>Adjective</label>
                <ol>
                  <li v-for="def in adjDef">{{ def }}</li>
                </ol>
              </div>
              <div v-show="advDef.length > 0">
                <label>Adverb</label>
                <ol>
                  <li v-for="def in advDef">{{ def }}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer deep-purple lighten-5">
    <div class="footer-copyright">
      <div class="container black-text">
        &copy;2017&nbsp;GrandGrammar
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="lib/jquery/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="lib/jquery/jquery.hoverIntent.min.js"></script>
  <script type="text/javascript" src="lib/materialize/materialize.min.js"></script>
  <script type="text/javascript" src="lib/vue/vue.js"></script>

  <script type="text/javascript" src="js/checker.js"></script>
  <script type="text/javascript" src="js/checker.jq.js"></script>
</body>

</html>
