body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#bbdefb, #ab85f5);
}

nav .nav-wrapper {
  margin: 0 30px;
}

.brand-logo img {
  margin: 11px 0;
  height: 42px;
}

footer.page-footer {
  padding: 0;
  text-align: center;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 114px);
}

.card {
  position: relative;
  width: 225px;
  margin: 0 25px;
  opacity: 0;
}

.card .card-image img {
  height: 225px;
  width: 225px;
}

.card .card-content {
  padding: 10px 24px;
}

.card .card-content .card-title {
  margin: 0;
  font-size: 20px;
}

.card .card-reveal {
  opacity: 0.9;
}

#lz {
  left: 350px;
  z-index: 1;
}
#zrq {
  left: 100px;
  z-index: 2;
}
#pyt {
  right: 100px;
  z-index: 2;
}
#mm {
  right: 350px;
  z-index: 1;
}
