body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#bbdefb,#7986cb);
}

nav .nav-wrapper {
  margin: 0 30px;
}

.brand-logo img {
  margin: 11px 0;
  height: 42px;
}

footer.page-footer {
  padding: 0;
  text-align: center;
}

.body {
  margin: 15px 20px;
}

.body .card {
  margin: 15px 0;
  border-radius: 10px;
}

.body .card#checker-input-block {
  height: 280px;
}
.body .card#checker-output-block {
  height: 280px;
}
.body .card#topic-block {
  height: 190px;
}

.body .card .card-title {
  font-weight: 400;
}

.body .card .card-content {
  height: 100%;
}

.body .card .card-content p {
  height: 100%;
  overflow: auto;
}

.body .card .card-content p textarea {
  height: 100%;
  border: none;
  outline: none;
}

.text-para {
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}

/* Buttons */
.edit-btns {
  position: relative;
  height: 0;
  width: 100%;
}

.edit-btn {
  position: absolute;
  top: -38px;
}

#copy-btn {
  right: 242px;
}
#tag-btn {
  right: 161px;
}
#edit-btn {
  right: 80px;
}
#check-btn {
  position: absolute;
  top: -45px;
  right: -15px;
  width: 70px;
  height: 70px;
}
#check-btn i {
  font-size: 30px;
  line-height: 70px;
}

/* Grammar checker output block */
#checker-output-block .card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-layer {
  border-color: #673ab7;
}

#synonyms-popup {
  display: none;
  border-radius: 10px;
  padding: 5px 10px;
  width: 150px;
  height: 200px;
  z-index: 100;
  color: #555;
  font-size: 16px;
  font-weight: 300;
  border: 2px solid #cacaca;
}

#synonyms-popup > div {
  padding: 5px 0;
  font-weight: 400;
  border-bottom: 2px solid #cacaca;
}

#synonyms-popup ul {
  margin: 0;
}

#synonyms-popup ul li {
  margin: 0;
  margin: 5px 0;
}

/* Dictionary block */
#dictionary-block .word-input-block {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
}
#dictionary-block .word-input-block .input-field {
  margin: 0 0 0 20px;
  flex: 1;
}
#dictionary-block .word-input-block .input-field input {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
}
#dictionary-block .word-input-block .input-field input:focus {
  border-bottom: 1px solid #b39ddb;
  box-shadow: 0 1px 0 0 #b39ddb;
}
.exam-part {
  margin: 15px 0;
}
.definition-part {
  margin: 15px 0;
}
.definition-part ol {
  margin: 0;
}
