body {
  margin: 0;
  padding: 0;
}

nav .nav-wrapper {
  margin: 0 30px;
}

.brand-logo img {
  margin: 11px 0;
  height: 42px;
}

footer.page-footer {
  padding: 0;
  text-align: center;
}

.body {
  margin: 15px 20px;
}

.body .card {
  margin: 15px 0;
}

.body .card#checker-input-block {
  height: 280px;
}
.body .card#checker-output-block {
  height: 280px;
}
.body .card#topic-block {
  height: 190px;
}
.body .card#dictionary-block {
  height: 370px;
}

.body .card .card-content {
  height: 100%;
}

.body .card .card-content p {
  height: 100%;
  overflow: auto;
}

.body .card .card-content p textarea {
  height: 100%;
  border: none;
  outline: none;
}

.edit-btns {
  position: relative;
  height: 0;
  width: 100%;
}

.edit-btn {
  position: absolute;
  top: -38px;
}

#copy-btn {
  right: 242px;
}
#tag-btn {
  right: 161px;
}
#edit-btn {
  right: 80px;
}
#check-btn {
  position: absolute;
  top: -45px;
  right: -15px;
  width: 70px;
  height: 70px;
}
#check-btn i {
  font-size: 30px;
  line-height: 70px;
}
