body {
  margin: 0;
  padding: 0;
}

nav {
  background: rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(rgba(237, 231, 241, 0.4), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(rgba(237, 231, 241, 0.4), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(237, 231, 241, 0.4), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(237, 231, 241, 0.4), rgba(0, 0, 0, 0));
  box-shadow: none;
  height: 75px;
  position: absolute;
}

nav .nav-wrapper {
  margin: 0 30px;
}

.brand-logo img {
  margin: 11px 0;
  height: 42px;
}

.background-container {
  background: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.background-container .container {
  position: relative;
  top: 25%;
}

.background-container .container .row {
  margin-bottom: 30px;
}

.background-container .section {
  height: 100%;
}

.background-container .container h1 {
  margin: 30px;
}
